@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.TopicPages.IndexModel

@{
    ViewData["Title"] = "Topic Index";
}

<h1>Topics</h1>

<form method="get">
    <div class="form-group">
        <label for="searchKeyword">Search Topic:</label>
        <input type="text" id="searchKeyword" name="SearchKeyword" value="@Model.SearchKeyword" class="form-control" placeholder="Enter keyword..." />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Topic[0].Number)</th>
            <th>@Html.DisplayNameFor(model => model.Topic[0].TopicName)</th>
            <th>@Html.DisplayNameFor(model => model.Topic[0].ChapterName)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Topic)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.TopicName)</td>
                <td>@Html.DisplayFor(modelItem => item.ChapterName)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                    <button class="btn btn-info mt-2">
                        <a asp-page="./TopicExam" asp-route-quizId="@item.QuizId" asp-route-chapterId="@item.ChapterId">Take Exam</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-controls d-flex justify-content-center align-items-center mt-3">
    @if (Model.CurrentPage > 1)
    {
        <a asp-page="./Index" asp-route-SearchKeyword="@Model.SearchKeyword" asp-route-pageNumber="@(Model.CurrentPage - 1)" class="btn btn-secondary">Previous</a>
    }
    <span>Page @Model.CurrentPage of @Model.TotalPages</span>
    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a asp-page="./Index" asp-route-SearchKeyword="@Model.SearchKeyword" asp-route-pageNumber="@(Model.CurrentPage + 1)" class="btn btn-secondary">Next</a>
    }
</div>

<style>
    .wrap-text {
        word-wrap: break-word;
        word-break: break-word;
        max-width: 300px;
        white-space: normal;
    }
</style>