@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.ChapterPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.ChapterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.ChapterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.SubjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.Quiz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.QuizId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.LastUpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.LastUpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.LastUpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter.DeletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.DeletedTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Chapter.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
