@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.ChapterPages.DeleteModel

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa chương này?</h3>
<div>
    <h4>Chương</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Số thứ tự
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.Number)
        </dd>
        <dt class="col-sm-2">
            Tên chương
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.ChapterName)
        </dd>
        <dt class="col-sm-2">
            Môn học
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class="col-sm-2">
            Câu hỏi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuizName)
        </dd>
        <dt class="col-sm-2">
            Người tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>
        <dt class="col-sm-2">
            Người cập nhật cuối
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedByName)
        </dd>
        <dt class="col-sm-2">
            Thời gian tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            Thời gian cập nhật cuối
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter.LastUpdatedTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Chapter.Id" />
        <div class="mt-3">
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Xóa
                </button>
                <a asp-page="./Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Quay lại danh sách
                </a>
            </div>
        </div>
    </form>
</div>