@page "{subjectId}"
@model ElementaryMathStudyWebsite.RazorPage.Pages.ChapterPages.IndexModel

@{
    ViewData["Title"] = "Index";
    var subjectId = ((string)RouteData.Values["subjectId"]!).ToUpper();
}
<h1>Index</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Subject)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Quiz)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Chapter[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].LastUpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].DeletedTime)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chapter.Where(c => c.SubjectId.ToUpper() == subjectId))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td> *@
            <td>
                    @if (item.Quiz != null)
                    {
                        @Html.DisplayFor(modelItem => item.Quiz.QuizName)
                    }
                    else
                    {
                        <span>N/A</span>
                    }
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedTime)
            </td> 
             <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
