@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.UserAnswerPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAnswer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAnswer.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAnswer.Question.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAnswer.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAnswer.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAnswer.Option)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAnswer.Option.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
