@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.UserAnswerPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="GetAnswers" class="btn btn-info">Get User Answer By Quiz Id</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAnswer[0].Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAnswer[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAnswer[0].Option)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserAnswer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Option.Id)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
