@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.OrderPages.IndexModel

@{
	ViewData["Title"] = "Index";
	int orderNumber = 1; // Initialize the counter
}

<h1>Đơn hàng</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Số thứ tự
			</th>
			<th>
				Sản phẩm - Học sinh
			</th>
			<th>
				Ngày mua môn học
			</th>
			<th>
				Tổng tiền
			</th>
			<th>
				Phương thức thanh toán
			</th>
			<th>
				Trạng thái đơn hàng
			</th>
		</tr>
	</thead>
	<tbody>
		
		@foreach (var item in Model.Orders!.Items)
		{
			<tr>
				<td>
					@orderNumber
				</td>
				<td>
					@foreach (var detail in item.Details!)
					{
						<div>@detail.SubjectName - @detail.StudentName</div>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TotalPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PaymentMethod)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
			</tr>
			orderNumber++;
		}
	</tbody>
</table>

<div class="pagination">
	@if (Model.Orders.CurrentPage > 1)
	{
		<a asp-page="./Index" asp-route-pageNumber="@(Model.Orders.CurrentPage - 1)">Trước</a>
	}

	<span>Page @Model.Orders.CurrentPage of @Model.Orders.TotalPages</span>

	@if (Model.Orders.CurrentPage < Model.Orders.TotalPages)
	{
		<a asp-page="./Index" asp-route-pageNumber="@(Model.Orders.CurrentPage + 1)">Sau</a>
	}
</div>
