@page
@model ElementaryMathStudyWebsite.RazorPage.Pages.OrderPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastUpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DeletedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
